*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container{
    display: grid;
    height: 100vh;
    color: rgb(174, 69, 69);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.3fr 0.8fr; 
    grid-template-areas: "navbar navbar navbar navbar"
                                        "sidebar main main main"
                                        "sidebar box1 box2 box3"
                                        "sidebar footer footer footer";
                                        grid-gap:0.2rem;
                                        text-align: center;
                                        font-size: 1.5rem;

}
nav{background-color: #1666a0; grid-area: navbar;}
     
main{background-color: #277fae; grid-area: main;}
      
.sidebar{background: #9fb929; grid-area: sidebar;}
        
.box1{background: #8c2cb6; grid-area: box1;}
.box2{background: #2c3050; grid-area: box2;}
.box3{background: #65ad44; grid-area: box3;}

footer{background: #16a060; grid-area: footer;}}

@media only screen and (max-width :640px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 2fr 0.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "navbar"
        "main"
        "sidebar"
        "box1"
        "box2"
        "box3"
        "footer";
    }

}


